<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.batman.k8smybatis.mapper.ThirdPartyMapperExt">
  <resultMap id="BaseResultMap" type="com.batman.k8smybatis.model.ThirdParty">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="third_party_code" jdbcType="VARCHAR" property="thirdPartyCode" />
    <result column="third_party_name" jdbcType="VARCHAR" property="thirdPartyName" />
    <result column="third_party_type" jdbcType="INTEGER" property="thirdPartyType" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_operator" jdbcType="INTEGER" property="createOperator" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_operator" jdbcType="INTEGER" property="updateOperator" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, third_party_code, third_party_name, third_party_type, remark, create_time, create_operator, 
    update_time, update_operator
  </sql>
  <select id="selectByExample" parameterType="com.batman.k8smybatis.model.ThirdPartyExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from third_party
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.batman.k8smybatis.model.ThirdPartyExample">
    delete from third_party
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.batman.k8smybatis.model.ThirdParty">
    insert into third_party (id, third_party_code, third_party_name, 
      third_party_type, remark, create_time, 
      create_operator, update_time, update_operator
      )
    values (#{id,jdbcType=INTEGER}, #{thirdPartyCode,jdbcType=VARCHAR}, #{thirdPartyName,jdbcType=VARCHAR}, 
      #{thirdPartyType,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createOperator,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{updateOperator,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.batman.k8smybatis.model.ThirdParty">
    insert into third_party
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="thirdPartyCode != null">
        third_party_code,
      </if>
      <if test="thirdPartyName != null">
        third_party_name,
      </if>
      <if test="thirdPartyType != null">
        third_party_type,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createOperator != null">
        create_operator,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateOperator != null">
        update_operator,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="thirdPartyCode != null">
        #{thirdPartyCode,jdbcType=VARCHAR},
      </if>
      <if test="thirdPartyName != null">
        #{thirdPartyName,jdbcType=VARCHAR},
      </if>
      <if test="thirdPartyType != null">
        #{thirdPartyType,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createOperator != null">
        #{createOperator,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateOperator != null">
        #{updateOperator,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.batman.k8smybatis.model.ThirdPartyExample" resultType="java.lang.Long">
    select count(*) from third_party
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update third_party
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.thirdPartyCode != null">
        third_party_code = #{record.thirdPartyCode,jdbcType=VARCHAR},
      </if>
      <if test="record.thirdPartyName != null">
        third_party_name = #{record.thirdPartyName,jdbcType=VARCHAR},
      </if>
      <if test="record.thirdPartyType != null">
        third_party_type = #{record.thirdPartyType,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createOperator != null">
        create_operator = #{record.createOperator,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateOperator != null">
        update_operator = #{record.updateOperator,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update third_party
    set id = #{record.id,jdbcType=INTEGER},
      third_party_code = #{record.thirdPartyCode,jdbcType=VARCHAR},
      third_party_name = #{record.thirdPartyName,jdbcType=VARCHAR},
      third_party_type = #{record.thirdPartyType,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_operator = #{record.createOperator,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_operator = #{record.updateOperator,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <resultMap id="BaseResultMap" type="com.batman.k8smybatis.model.ThirdParty">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="third_party_code" jdbcType="VARCHAR" property="thirdPartyCode" />
    <result column="third_party_name" jdbcType="VARCHAR" property="thirdPartyName" />
    <result column="third_party_type" jdbcType="INTEGER" property="thirdPartyType" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_operator" jdbcType="INTEGER" property="createOperator" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_operator" jdbcType="INTEGER" property="updateOperator" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, third_party_code, third_party_name, third_party_type, remark, create_time, create_operator, 
    update_time, update_operator
  </sql>
  <select id="selectByExample" parameterType="com.batman.k8smybatis.model.ThirdPartyExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from third_party
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.batman.k8smybatis.model.ThirdPartyExample">
    delete from third_party
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.batman.k8smybatis.model.ThirdParty">
    insert into third_party (id, third_party_code, third_party_name, 
      third_party_type, remark, create_time, 
      create_operator, update_time, update_operator
      )
    values (#{id,jdbcType=INTEGER}, #{thirdPartyCode,jdbcType=VARCHAR}, #{thirdPartyName,jdbcType=VARCHAR}, 
      #{thirdPartyType,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createOperator,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{updateOperator,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.batman.k8smybatis.model.ThirdParty">
    insert into third_party
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="thirdPartyCode != null">
        third_party_code,
      </if>
      <if test="thirdPartyName != null">
        third_party_name,
      </if>
      <if test="thirdPartyType != null">
        third_party_type,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createOperator != null">
        create_operator,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateOperator != null">
        update_operator,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="thirdPartyCode != null">
        #{thirdPartyCode,jdbcType=VARCHAR},
      </if>
      <if test="thirdPartyName != null">
        #{thirdPartyName,jdbcType=VARCHAR},
      </if>
      <if test="thirdPartyType != null">
        #{thirdPartyType,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createOperator != null">
        #{createOperator,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateOperator != null">
        #{updateOperator,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.batman.k8smybatis.model.ThirdPartyExample" resultType="java.lang.Long">
    select count(*) from third_party
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update third_party
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.thirdPartyCode != null">
        third_party_code = #{record.thirdPartyCode,jdbcType=VARCHAR},
      </if>
      <if test="record.thirdPartyName != null">
        third_party_name = #{record.thirdPartyName,jdbcType=VARCHAR},
      </if>
      <if test="record.thirdPartyType != null">
        third_party_type = #{record.thirdPartyType,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createOperator != null">
        create_operator = #{record.createOperator,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateOperator != null">
        update_operator = #{record.updateOperator,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update third_party
    set id = #{record.id,jdbcType=INTEGER},
      third_party_code = #{record.thirdPartyCode,jdbcType=VARCHAR},
      third_party_name = #{record.thirdPartyName,jdbcType=VARCHAR},
      third_party_type = #{record.thirdPartyType,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_operator = #{record.createOperator,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_operator = #{record.updateOperator,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>